.form-container {
    width: 500px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.form-title {
    font-size: 35px;
    font-weight: 400;
    color: #2A414F;
}

.input-group{
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-left: 5px;
}

.input-group input {
    width: 415px;
    height: 45px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
}

.form-submit {
    width: 415px;
    height: 55px;
    margin-top: 24px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.form-submit:hover{
    background: rgba(255, 153, 0, 0.5);
}

.form-link{
    color: #FF9900;
    text-decoration: none;
}

.divider{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.line{
    margin: 0 auto;
    border: 1px solid #95A0A7;
    height: 0px;
    width: 145px;
}